@model Ecommerce.Entities.Product

@{
    ViewBag.Title = "ProductDetails";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ürün Detayları</h2>

<div>
    <h4>Ürün</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Butik</dt>

        <dd>
            @Html.DisplayFor(model => model.BoutiqueId.Boutique_Description)
        </dd>

        <dt>Renk</dt>

        <dd>
            @Html.DisplayFor(model => model.Color.Color_Name)
        </dd>

        <dt>Beden</dt>

        <dd>
            @Html.DisplayFor(model => model.Size.Size_Name)
        </dd>

        <dt>
Alt Kategori        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategory.SubCategory_Name)
        </dd>

        <dt>
Ürün        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Description)
        </dd>

        <dt>
Stok        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_NumberInStock)
        </dd>

        <dt>
Fiyat        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Cost)
        </dd>

        <dt>
Uyarı        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Warning)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "ProductEdit", new { id = Model.Product_Id }) |
    @Html.ActionLink("Listeye Geri Dön", "ProductList")
</p>
