@model Ecommerce.Entities.ViewModel.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}

<h3>
    <em>Review</em> your cart:
</h3>
<p class="button">
    @Html.ActionLink("Checkout >>", "AddressAndPayment", "Checkout")
</p>
<div id="update-message">
</div>
<table>
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Price (each)
        </th>
        <th>
            Quantity
        </th>
        <th>
            Size
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.CartItems)
    {
        <tr id="row-@item.RecordId">
            <td>
                @Html.ActionLink(item.Product.Product_Description, "Details", "ProductDetails", new { id = item.ProductId }, null)
            </td>
            <td>
                @item.Product.Product_Cost
            </td>
            <td id="item-count-@item.RecordId">
                @item.Count
            </td>
            <td>@item.Size.Size_Name</td>
           
        </tr>
    }
    <tr>
        <td>
            Total
        </td>
        <td></td>
        <td></td>
        <td id="cart-total">
            @Model.CartTotal
        </td>
    </tr>
</table>