@model List<Ecommerce.Entities.Boutique>

@{
    ViewBag.Title = "Boutique List";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>BoutiqueList</h2>

<p>
    @Html.ActionLink("Create New", "BoutiqueAdd")
</p>
<table class="table">
    <tr>
        <th>Boutique Description</th>
        <th>Image</th>
        <th>Operations</th>
        <th></th>
    </tr>
                @foreach (var item in Model)
    {
                    <tr>

                        <td>@item.Boutique_Description</td>


                        <td>
                           
    <a href="@Url.Action("ProductList", "Boutique", new { id = item.Boutique_Id })">
    <img src="data:image/jpeg;base64,@Convert.ToBase64String(@item.ImageData,0,@item.ImageData.Length) " />
</a>
                         
                            @Html.ActionLink("Add Product", "../Product/ProductAdd", new { id = item.Boutique_Id })  |
                            @Html.ActionLink("Update", "Edit", new { id = item.Boutique_Id })  |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Boutique_Id })

                        </td>
                    </tr>
    }

            </table>
